.container {
    font-family: "Lato";
    color: #3d3d40;
}

.container__resumenTitle {
    color: #DF576F;
}

.buttons__ancor {
    color: #DF576F;
    text-align: center;
}

.buttons__ancor:hover {
    font-weight: 700;
}

.button {
    font-family: "Lato";
    color: #3d3d40;
    background-color: #fa5f7b;
    border: none;
    border-radius: 0.25rem;
}

.button:hover {
    color: white;
    background-color: #f79aa0;
}