.currencyCode--info__data--price{
    font-size: large;
    color: #f79aa0
}

.currencyInteger--info__data--price{
    font-size: large;
    color: #f79aa0
}

.currencyGroup--info__data--price{
    font-size: large;
    color: #f79aa0
}

.currencyInteger--info__data--price{
    font-size: large;
    color: #f79aa0
}