.paragraph{
    margin: 0px;
}

.paragraph--rich-text__option{
    padding-left: 2px;
}

.paragraph--quick-view--trigger {
    font-size: 0.9rem;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    color: #ffff;
    padding: 3px 15px 3px 0;
}

.paragraph--quick-view--trigger:hover {
    color: #f79aa0;
}
.paragraph--quick-view--trigger::after {
    content: '+';
    border-radius: 20px;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    padding: 0px 4px 2px 4px;
    margin-left: 5px;
    background-color: #fff;
    color: #fff;
}

.paragraph--quick-view--trigger:hover::after {
    background-color: #f79aa0;
}

.paragraph--rich-text__menuDesktop--emphasis{
    font-weight: bold;
}

.paragraph--rich-text__menuDesktop--emphasis:hover {
    color: #3f3f40;
}

.paragraph--rich-text__menuDesktop--emphasisDcto{
    margin-right: 12px;
    font-weight: bold;
}

.paragraph--rich-text__menuDesktop--emphasisDcto:hover {
    color: #3f3f40;
}

.paragraph--rich-text__menuDesktop:hover {
    color: #DF576F;
}

.wrapper--rich-text__menuDesktop--points {
    margin-left: 12px;
}

.wrapper--rich-text__menuDesktop--points:hover {
    color: #DF576F;
}

.paragraph--minicart__title{
    font-size: 1.5rem;
    color: #f79aa0;
}

.container--minicart__name--text, 
.container--minicart__shipping--text,
.container--minicart__price--text,
.container--minicart__quantity--text {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbd8d8;
}