.form__label {
    font-family: "Lato";
    color: #3d3d40;
    font-weight: bold;
}

.form__input {
    font-family: "Lato";
    color: #3d3d40;
}

.form__input--button {
    font-family: "Lato";
    color: #3d3d40;
    background-color: #fa5f7b;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form__input--button:hover {
    color: white;
    background-color: #f79aa0;
}