.flexRow--home__section1{
    padding: 0px 4px;
    width: 100%;
    max-width: 2000px !important;
}

.flexRow--home__section2 {
    margin: 50px auto;
    max-width: 1200px;
}

.flexRow--home__section3 {
    margin: 0px auto;
    max-width: 1200px;
}

.flexCol--section2__divider--col,
.flexCol--section3__divider--col{
    border-bottom: 8px double #f6ced6;
    height: 60%;
}

@media (max-width: 375px) {
    .flexCol--section2__divider--col,
    .flexCol--section3__divider--col {
        width: 70% !important;
    }
}

@media (max-width: 320px) {
    .flexCol--section2__divider--col,
    .flexCol--section3__divider--col {
        width: 60% !important;
    }
}

.flexCol--home__section2--column, 
.flexCol--home__section3--column{
    padding: 10px 50px;
}

.flexRow--home__section4{
    margin: 50px auto;
    max-width: 1350px;
}

.flexRow--home__section5{
    padding: 5px 60px;
}

.flexRow--home__section6{
    padding-top: 50px;
    padding-bottom: 35px;
}