.flexRow--home__section1{
    padding: 0px 4px;
}

.flexCol--home__section2--column{
    padding: 10px 50px;
}

.flexCol--home__section3--column{
    padding: 10px 50px;
}

.flexRow--home__section4{
    padding: 50px 20px;
}

.flexRow--home__section5{
    padding: 5px 60px;
}

.flexRow--home__section6{
    padding-top: 50px;
    padding-bottom: 35px;
}

.flexRow--footer__main{
    margin: 0px 8px;
    background-color: rgb(39, 37, 37);
    padding-top: 15px;
}

.flexCol--footer__main--column2{
    padding-bottom: 80px;
}

.flexCol--footer__main--column3{
    padding-bottom: 80px;
}

.flexCol--footer__main--column4{
    padding-bottom: 80px;
}

.flexCol--footer__main--column5{
    padding-bottom: 15px;
}

.flexRow--footer__payment{
    margin: 2px 8px;
    padding: 3px 20px 1px 20px;
    height: 45px;
}

.flexRow--footer__poweredby{
    margin: 0px 8px;
    padding: 2px 0px;
    height: 25px;
    border-top: 1px solid #dbd8d8;
}

.flexCol--footer__poweredby--text{
    padding-left: 370px;
    padding-top: 4px;
}

.flexCol--footer__mobileMain--column{
    background-color: rgb(39, 37, 37);
    padding-top: 15px;    
}

.flexRow--footer__mobile--section1{
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #F79AA0;
}

.flexRow--footer__mobile--section2{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #F79AA0;
}

.flexRow--footer__mobile--section3{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #F79AA0;
}

.flexRow--footer__mobile--section4{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.flexCol--footer__mobile--section4col2{
    padding-bottom: 100px;
}

.flexCol--footer__mobilePaymentSafety--column{
    padding: 15px 15px;
}

.flexRowContent--footer__mobile--poweredby{
    padding: 15px 60px;
    height: 50px;
    border-top: 1px solid #dbd8d8;
}

.flexRow--about-us{
    margin: 15px
}

.flexCol--quick-view__modal--info{
    padding: 5px;
}

.flexCol--quick-view__modal--image{
    padding: 5px;
}

.flexRow--product__info {
    margin-left: 150px;
    margin-right: 150px;
}

.flexRow--minicart__row {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #dbd8d8;
}

.flexCol--minicart__footer--contentCol {
    margin-top: 15px;
    margin-right: 20px;
    border: 1px solid #dbd8d8;
}
