.sliderLayoutContainer--home__section2--slider{
    padding: 20px;
}

.slideChildrenContainer--home__section2--slider{
    margin: 10px;
    justify-content: center;
}

.sliderLayoutContainer--home__section3--slider{
    padding: 20px;
}

.slideChildrenContainer--home__section3--slider{
    margin: 10px;
    justify-content: center;
}

.sliderLayoutContainer--home__section5--slider{
    padding: 10px;
}

.sliderTrackContainer--shelf__wishlist--slider{
    padding-left: 15px;
    padding-right: 15px;
}
.slideChildrenContainer--shelf__wishlist--slider{
    padding: 15px;
}

.bullet__item--link {
    text-decoration: none;
}

.bullet__item--title {
    font-size: 14px;
    font-weight: bold;
    color: #DF576F;
    text-align: center;
}

.bullet__item--image {
    width: 150px;
}