.flexRow--home__section1{
    margin: 0px 4px;
}

.flexCol--home__section2--column{
    margin: 10px 50px;
}

.flexCol--home__section3--column{
    margin: 10px 50px;
}

.flexRow--home__section4{
    margin: 50px 20px;
}

.flexRow--home__section5{
    margin: 5px 60px;
}