.headerStickyRow--header__top{
    margin: 0 8px;
    border-bottom: 1px solid #FFD7DE;
}

.headerRowContainer--header__middle{
    padding: 0px 50px;
}

.headerRow--header__down{
    padding: 0px 8px;
}

.headerRowBackground--header__down {
    background-color: #FFD7DE;
}

.headerStickyRow--header__middle--sectiontwomobile{
    border-top: 1px solid #dbd8d8;
    margin: 0px 8px;
}

.headerRowContainer--header__middle--sectiontwomobile{
    padding: 0px 20px;
}

.headerStickyRow--header__down--mobile {
    padding: 5px 10px;
    background-color: white;
}

.sliderLayoutContainer--header__down--slider
:global(.vtex-store-link-0-x-link){
    background: #FCE7EA;
}
