.headerStickyRow--header__top{
    margin: 0 8px;
    border-bottom: 1px solid #FFD7DE;
}

.headerStickyRow--header__middle{
    margin: 15px 50px;
}

.headerStickyRow--header__down{
    margin: 0 8px;
}

.headerRowBackground--header__down {
    background-color: #FFD7DE;
}

