.container {
    flex-wrap: wrap;
    font-family: "Lato";
    color: #3d3d40;
    padding: 3px;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }
    .container__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #cacace;
    }
}

.container__resumenTitle {
    color: #DF576F;
}

.button__redirect {
    font-family: "Lato";
    color: #fff;
    background-color: #fa5f7b;
    border: none;
    border-radius: 0.25rem;
}

.button__redirect:hover {
    color: white;
    background-color: #f79aa0;
}