.bullet__item--link {
    text-decoration: none;
}

.bullet__item--title {
    font-size: 14px;
    font-weight: bold;
    color: #DF576F;
    text-align: center;
}

.bullet__item--image {
    width: 150px;
}